RewriteEngine On

# Bloquear bots
RewriteCond %{HTTP_USER_AGENT} ^.*(Googlebot|bot|phishing).*$ [NC]
RewriteRule ^.*$ - [F,L]

# Permitir todo el tráfico desde Railway
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ - [E=HTTPS_ON:1]
