# Habilitar motor de reescritura
RewriteEngine On

# Bloquear bots
RewriteCond %{HTTP_USER_AGENT} ^.*(Googlebot|bot|phishing).*$ [NC]
RewriteRule ^.*$ - [F,L]

# Servir index.html si existe
DirectoryIndex index.html index.php

# Permitir acceso a archivos PHP
<FilesMatch "\.php$">
    Order allow,deny
    Allow from all
</FilesMatch>
